:root {
  --header-height: 40px;

  --color-light: rgb(255, 255, 255);
  --color-main: rgb(33, 33, 33);
  --color-second: rgb(17, 19, 17);
  --color-accent-green: rgb(33, 160, 56);
  --color-accent-gray: rgb(153, 153, 153);
  --color-accent-red:  rgb(221, 48, 55);

  --text-color-main: rgb(255, 255, 255);
  --text-color-second: rgb(153, 153, 153);
  --text-color-accent-green: rgb(33, 160, 56);
  --text-color-accent-dark: rgb(33, 33, 33);

  --font-main: "Gotham Pro", sans-serif;
  --font-main-bold: "Gotham Pro Bold", sans-serif;

  --font-size-title: 18px;
  --font-weight-title: 700;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../assets/fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../assets/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* General styles*/

.section__title {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 35px;
  color: var(--text-color-second);
  font-family: var(--font-main-bold);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.button-red {
  transition: transform 0.3s ease-in-out;
  height: 40px;
  width: fit-content;
  padding: 0 36px;
  border-radius: 30px;
  background: var(--color-accent-red);
  color: var(--text-color-main);
  font-family: var(--font-main-bold);
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.button-green-small {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-accent-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-red:hover {
  transform: scale(1.03);
}


/* Header styles*/

.header {
  position: fixed;
  width: 360px;
  height: var(--header-height);
  top: 0;
  margin: 0;
  padding: 2px 10px 2px 10px;
  background: var(--color-second);
  z-index: 50;
}

.header__navbar{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__burger{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 36px;
  height: 36px;
  gap: 7px;
}

.navbar__burger--span {
  transition: transform 0.3s ease-in-out;
  height: 2px;
  width: 20px;
  background: var(--text-color-main);
  border-radius: 2px;
  opacity: 1;
}

.navbar__burger:hover .navbar__burger--span:nth-child(1){
  transform: translateY(9px) rotate(45deg);
}

.navbar__burger:hover .navbar__burger--span:nth-child(2){
  animation: disappearance 0.3s ease-in-out;
  opacity: 0;
}

@keyframes disappearance {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}

.navbar__burger:hover .navbar__burger--span:nth-child(3){
  transform: translateY(-9px) rotate(-45deg);
}

.navbar__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 59.13px;
  height: 30px;
  background-image: url("../assets/logo-60-30.svg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar__contact-phones {
  width: 85px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.contact-phone {
  transition: transform 0.3s ease-in-out;
  width: fit-content;
  height: 15px;
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 9px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
}

.contact-phone:hover {
  transform: scale(1.02);
}


/* Main styles*/

main {
  width: 360px;
  position: absolute;
  top: var(--header-height);
  z-index: 1;
  background-color: var(--color-main);
}


/* Section "Offer" styles*/

.offer {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/offer-bg.svg");
  background-size: auto 120%;
  background-repeat: no-repeat;
  background-position: 75% 45%;
}

.offer__slogan {
  margin-top: 271px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slogan__title {
  width: 100%;
  height: 72px;
  padding: 0;
  margin: 0 0 15px;
  color: var(--text-color-main);
  font-family: var(--font-main-bold);
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.slogan__text {
  width: 320px;
  height: 22px;
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.offer__button {
  margin-top: 35px;
}


/* Section "About" styles*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__content {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.content__container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container__infographics {
  width: 80px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid rgb(182, 255, 186);
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5),0px 0px 10px 0px rgb(182, 255, 186);
  background: rgba(0, 0, 0, 0.7);
  color: var(--text-color-accent-green);
  font-family: var(--font-main-bold);
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.container__infographics:hover {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.5),0px 0px 12px 0px rgb(182, 255, 186);
}

.container__text {
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}


/* Section "Departments" styles*/

.departments {
  padding: 0 20px;
  display: flex;
  flex-direction: column;align-items: center;
}

.departments__list{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.departments__list-item {
  height: 30px;
  padding: 0 14.5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid var(--color-accent-gray);
  border-radius: 5px;
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.departments__list-item--active {
  background: var(--color-accent-gray);
  
  color: var(--text-color-accent-dark);
}


.departments__cards {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.departments__card {
  width: 320px;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  border: 3px solid rgb(153, 153, 153);
  border-radius: 30px;
}

.card__info {
  width: 225px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info__icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__text {
  width: 190px;
  color: var(--text-color-main);
  font-family: var(--font-main-bold);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.info__text--green {
  color: var(--text-color-accent-green);
}

.departments__button {
  margin: 35px 0 45px;
}


/* Section "Advantages" styles*/

.advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-second);
}

.advantages__cards {
  width: 100%;
  margin-bottom: 45px;
}

.advantages__card {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 3px solid var(--color-accent-gray);
}

.advantages__card > .info__text {
  width: 280px;
}


/* Section "Products" styles*/

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products__gallery {
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 45px;
  overflow-x: hidden;
  overflow-y: visible;
}

.gallery__buttons {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.gallery__button {
  width: 108px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--color-accent-gray);
  color: var(--text-color-second);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
}

.gallery__buttons--active {
  background-color: var(--color-accent-gray);
  color: var(--text-color-accent-dark);
}

.gallery__container {
  position: relative;
  width: 465px;
  height: 182px;
  left: -53px;;
}

.gallery__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 100%;
  padding: 0 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 40;
  
}

.gallery__arrow {
  height: 30px;
  width: 17px;
}

.gallery__arrow--left {
  transform: rotate(180deg);
}

.gallery__items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gallery__item{
  height: 148px;
  width: 130px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(270.00deg, rgba(0, 0, 0, 0) 6.073%,rgba(0, 0, 0, 0.7) 99.892%),rgb(217, 217, 217);
}

.gallery__item--left {
  transform: rotate(180deg);
}


.gallery__item--active {
  width: 165px;
  height: 182px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px rgba(217, 217, 217, 0.25);
  background: rgb(217, 217, 217);
}

.gallery__progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  gap: 9px;
}

.progress__point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(136, 137, 136);
}

.progress__point--active {
  width: 43px;
  border-radius: 25px;
  background-color: var(--color-light);
}


/* Section "Career" styles*/

.career {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-second);
}

.career__info {
  margin: 0 20px 35px;
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: var(--font-weight-title);
  line-height: 20px;
  text-align: left;
}

.career__gallery {
  position: relative;
  height: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery__arrows-career {
  top: 105px;
  padding: 13px;
}

.gallery__cards {
  height: 100%;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}

.gallery__card {
  width: 320px;
}

.gallery__card--acrive {
  margin: 0 20px;
}

.card__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.figure__img {
  height: 240px;
  width: 240px;
}

.figure__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption__name, .caption__job-title {
  color: var(--text-color-main);
}

.caption__name {
  margin-top: 15px;
  font-family: var(--font-main-bold);
  font-size: 16px;
}

.caption__job-title {
  font-family: var(--font-main);
  font-size: 14px;
}

.card__caption {
  width: 320px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-main);
}

.card__caption > li {
  margin-left: 15px;
  list-style-type: disc;
  list-style-position: outside;
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 14px;
}


/* Section "Our Success" styles*/

.our-success {
  position: relative;
  height: 567px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  overflow-x: hidden;
}


.our-success__title {
  margin: 45px 0 140px;
  z-index: 10;
}
.our-success__description {
  margin: 0;
  color: var(--text-color-main);
  text-align: start;
  line-height: 24px;
}

.our-success__description:nth-child(1) {
  margin-bottom: 18px;
}

.join-team {
  width: 313px;
  height: 188px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px solid rgb(54, 133, 59);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),0px 0px 10px 0px rgba(79, 183, 86, 0.7);
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.join-team__text {
  width: 260px;
  color: var(--text-color-main);
  font-family: var(--font-main-bold);
  font-size: 18px;
}

.bg-blur {
  z-index: 0;
}

.blur__item {
  position: absolute;
  border-radius: 50%;
  filter: blur(326px);
}

.blur__item--one {
  top: 237px;
  left: 50%;
  transform: translateX(-50%);
  height: 160px;
  width: 160px;
  filter: blur(200px);
  background: rgb(61, 149, 66);
}

.blur__item--two {
  top: 35px;
  right: -215px;
  height: 341px;
  width: 341px;
  background: rgba(54, 133, 59, 0.52);
}

.blur__item--three {
  top: 276px;
  left: -60px;
  height: 170px;
  width: 170px;
  background: rgba(127, 206, 132, 0.83);
}

.bg-team {
  position: absolute;
  top: 88px;
  height: 386px;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.team__item {
  position: absolute;
  bottom: -6px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.team__item--window{
  height: 223px;
  width: 144px;
  top: 22px;
  right: -22px;
  background-image: url("../assets/our-seccess-window.svg");
  background-size: auto 100%;
}

.team__item--one{
  width: 102px;
  height: 250px;
  left: 23px;
  background-image: url("../assets/characters/Character-1.svg");
  z-index: 20;
}

.team__item--two {
  width: 142px;
  height: 274px;
  left: 83px;
  background-image: url("../assets/characters/Character-2.svg");
  z-index: 10;
}

.team__item--three{
  width: 105px;
  height: 241px;
  right: 70px;
  background-image: url("../assets/characters/Character-3.svg");
  z-index: 20;
}

.team__item--four{
  width: 110px;
  height: 271px;
  right: 20px;
  background-image: url("../assets/characters/Character-4.svg");
  z-index: 10;
}