:root {
  --header-height: 40px;

  --color-ligth: rgb(255, 255, 255);
  --color-main: rgb(33, 33, 33);
  --color-second: rgb(17, 19, 17);
  --color-acsent-green: rgb(33, 160, 56);
  --color-acsent-gray: rgb(153, 153, 153);
  --color-acsent-red:  rgb(221, 48, 55);

  --text-color-main: rgb(255, 255, 255);
  --text-color-second: rgb(153, 153, 153);
  --text-color-acsent-green: rgb(33, 160, 56);
  --text-color-acsent-dark: rgb(33, 33, 33);

  --font-main: "Inter", sans-serif;
  --font-second: "Gotham Pro", sans-serif;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: fixed;
  width: 360px;
  height: var(--header-height);
  top: 0;
  margin: 0;
  padding: 2px 10px 2px 10px;
  background: var(--color-second);
  z-index: 50;
}

.header__navbar{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__burger{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 36px;
  height: 36px;
  gap: 7px;
}

.navbar__burger--span {
  transition: transform 0.3s ease-in-out;
  height: 2px;
  width: 20px;
  background: var(--text-color-main);
  border-radius: 2px;
  opacity: 1;
}

.navbar__burger:hover .navbar__burger--span:nth-child(1){
  transform: translateY(9px) rotate(45deg);
}

.navbar__burger:hover .navbar__burger--span:nth-child(2){
  animation: disappearance 0.3s ease-in-out;
  opacity: 0;
}

@keyframes disappearance {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}

.navbar__burger:hover .navbar__burger--span:nth-child(3){
  transform: translateY(-9px) rotate(-45deg);
}


.navbar__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 59.13px;
  height: 30px;
  background-image: url("../assets/logo-60-30.svg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar__contact-phones {
  width: 85px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.contact-phone {
  transition: transform 0.3s ease-in-out;
  width: fit-content;
  height: 15px;
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 9px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
}

.contact-phone:hover {
  transform: scale(1.02);
}

main {
  width: 360px;
  position: absolute;
  top: var(--header-height);
  z-index: 1;
  background-color: var(--color-main);
}

.offer {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/offer-bg.svg");
  background-size: auto 120%;
  background-repeat: no-repeat;
  background-position: 75% 45%;
}

.offer__slogan {
  margin-top: 271px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.offer__slogan--title {
  width: 100%;
  height: 72px;
  padding: 0;
  margin: 0 0 15px;
  color: var(--text-color-main);
  font-family: var(--font-second);
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.offer__slogan--text {
  width: 320px;
  height: 22px;
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.offer__button {
  transition: transform 0.3s ease-in-out;
  margin-top: 35px;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  background: var(--color-acsent-red);
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.offer__button:hover {
  transform: scale(1.03);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  color: var(--text-color-second);
  margin-top: 45px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.about__content {
  margin: 35px 0px 45px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.content__container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container__infographics {
  width: 80px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid rgb(182, 255, 186);
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5),0px 0px 10px 0px rgb(182, 255, 186);
  background: rgba(0, 0, 0, 0.7);
  color: var(--text-color-acsent-green);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.container__infographics:hover {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.5),0px 0px 12px 0px rgb(182, 255, 186);
}

.container__text {
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.departments {
  padding: 0 20px;
  display: flex;
  flex-direction: column;align-items: center;
}

.departments__title {
  width: 100%;
  color: var(--text-color-second);
  margin-top: 45px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.departments__list{
  display: flex;
  margin-top: 35px;
  gap: 10px;
  flex-wrap: wrap;
}

.departments__list-item {
  height: 30px;
  padding: 0 14.5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid var(--color-acsent-gray);
  border-radius: 5px;
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.departments__list-item--active {
  background: var(--color-acsent-gray);
  
  color: var(--text-color-acsent-dark);
}


.departments__cards {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.departments__card {
  width: 320px;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  border: 3px solid rgb(153, 153, 153);
  border-radius: 30px;
}

.card__info {
  width: 225px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info__icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-ligth);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__text {
  width: 190px;
  color: var(--text-color-main);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.info__text--green {
  color: var(--text-color-acsent-green);
}

.card__button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-acsent-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.departments__button {
  width: 260px;
  height: 40px; 
  margin: 35px 0 45px;
  border-radius: 30px;
  background-color: var(--color-acsent-red);
  color: var(--text-color-main);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-second);
}

.advantages__title{
  color: var(--text-color-second);
  margin-top: 45px;
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.advantages__cards {
  width: 100%;
  margin: 20px 0 45px;
}

.advantages__card {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 3px solid var(--color-acsent-gray);
}

.advantages__card > .info__text {
  width: 280px;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products__title {
  color: var(--text-color-second);
  margin-top: 45px;
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.products__gallery {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 35px 0 45px;
  overflow-x: hidden;
  overflow-y: visible;
}

.gallery__buttons {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.gallery__button {
  width: 108px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--color-acsent-gray);
  color: var(--text-color-second);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
}

.gallery__buttons--active {
  background-color: var(--color-acsent-gray);
  color: var(--text-color-acsent-dark);
}

.gallery__container {
  position: relative;
  width: 465px;
  height: 182px;
  left: -53px;;
}

.gallery__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 100%;
  padding: 0 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 40;
  
}

.gallery__arrow {
  height: 30px;
  width: 17px;
}

.gallery__arrow--left {
  transform: rotate(180deg);
}

.gallery__items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gallery__item{
  height: 148px;
  width: 130px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(270.00deg, rgba(0, 0, 0, 0) 6.073%,rgba(0, 0, 0, 0.7) 99.892%),rgb(217, 217, 217);
}

.gallery__item--left {
  transform: rotate(180deg);
}


.gallery__item--active {
  width: 165px;
  height: 182px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px rgba(217, 217, 217, 0.25);
  background: rgb(217, 217, 217);
}

.gallery__progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  gap: 9px;
}

.progress__point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(136, 137, 136);
}

.progress__point--active {
  width: 43px;
  border-radius: 25px;
  background-color: var(--color-ligth);
}
